BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Attach
InsertBraces: true
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: None
PointerAlignment: Left
ReferenceAlignment: Left
SortIncludes: Never
FixNamespaceComments: false